:root {
  --cream: #f4e9e4;
  --blue: #5ca0f2;
}

@font-face {
  font-family: 'Mintello';
  src: url('../assets/fonts/mintello-webfont.woff2') format('woff2'),
       url('../assets/fonts/mintello-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {box-sizing: border-box; background-repeat: no-repeat;}
body {max-width: 100vw; overflow-x: hidden; background: var(--cream)}

h1 {font-size: 36px; font-family: 'Mintello', serif; }
h2 {font-size: 32px; font-family: 'Mintello', serif; }
h3 {font-family: 'Europa', sans-serif; font-weight: 400; font-size: 24px; margin: 10px 0px; padding: 10px 0px;}
h4 {font-family: 'Europa', sans-serif; font-weight: 600; font-size: 18px;}
a {font-family: 'Europa', sans-serif;text-decoration: none; color: inherit; font-size: 16px; font-family: mr-eaves-xl-sans, sans-serif;}
p {font-family: 'Europa', sans-serif; font-size: 16px; margin: 5px 0px;}

h2 a {text-decoration: underline}
h3 a {text-decoration: underline; font-size: 24px;}
h3 strong {font-weight: 800;}
h4 a {text-decoration: underline}
p a {text-decoration: underline; font-size: 16px;}
a p {font-size: 16px; text-decoration: underline;}

.styled-button {background: purple; color: white; text-align: center; padding: 10px 25px; font-family: 'Europa', sans-serif; text-transform: uppercase;}

// Global Styling 
.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-start {display: flex; object-fit: contain; align-items: center; justify-content: flex-start;}

.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between;}
.flex-end-center {display: flex; align-items: flex-end; justify-content: center;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between;}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end}

.container-padding {padding: 25px;}
.hover:hover {cursor: pointer; transform: scale(1.03)}
.active-link {text-decoration: underline;}
//Navigation

.site-title-heading a {text-align: center; margin-top: 350px; padding: 15px 25px; border-radius: 8px; border: 4px solid black;}



// home.region

#homeContainer {width: 100vw; height: 100vh; }
#homeNavigationContainer { width: 100%; height: 20vh; position: fixed; top: 20px; left: 0; }
.nav-logo {  height: 100%; max-height: 200px; padding: 15px; }

#van-container {width: 100%; height: 100%; }
#van-image {height: 100%;}
#van-front {height: 100%; display: none;}
#vanOverlayContainer {width: 100%;  height: 70vh; position: fixed; top: 20vh; z-index: 3; left: 0; }
#vanOverlay { height: 60vh;}
#vanSections {width: 100%; height: 38vh; margin-top: 3.5vh;}
#overlay-about {width: 33%; height: 100%; }
#overlay-menu {width: 28%; height: 100%; }
#overlay-shop {width: 37%; height: 100%; }
#vanTopper {width: 52%; height: 10vh; margin-right: 12%;}
#homepageNavContainer {position: fixed; height: 12vh; top: 82vh; left: 0; z-index: 100; width: 100%;}
#homepageFooter {height: 6vh; width: 100%;  top: 94vh; position: fixed; left: 0; color: white;}
#de-link { margin: 5px;}
#copyright {line-height: 0px; margin: 5px; font-size: 14px; }
@media screen and (max-width: 800px) {
 .nav-logo {height: unset; max-height: unset; max-width: 600px; width: 100%;}
 #van-image {display: none;}
 #van-front {display: block;}
 
}


// site.region 
.title-layer {width: 100%; height: 100px;}
.site-title-heading {font-size: 56px; font-family: 'Mintello', sans-serif}


// menu.region
#FoodCategory {border: 1px solid blue; width: 100%;}
.category-name {padding: 10px 25px; background: white; color: purple; border-right: 1px solid purple;}
.active-category {background: purple; color: white;}


.category-section {background: white; margin-top: 50px; }
.menu-item {width: 45%; margin: 0.5% 1%; padding: 0.5%;  }
.menu-item h4 {line-height: 25px; margin: 0 0 5px;}
.menu-item-body {width: 100%; }

.category-section h2 {margin: 0px;}


// about.region
#hours {width: 25%; height: 100%; text-align: center;}

#details {width: 30%; height: 100%;}

button {padding: 25px; border: none; }

#about {border: 2px solid yellow; height: 60vh; margin-top: 20vh; width: 100%; display: none;}
.section-h1 {font-size: 68px; line-height: 0px;}
.section-p {font-size: 24px; padding: 15px;  text-align: center; background: rgba(255,255,255,0.75)}
.section-buttons {margin-top: 5vh;}
.section-wrapper {padding: 5vh 15vw;}

.menu {width: 75vw; height: 70vh; border: 3px solid teal; background-color: white;}


.ruler {width: 50px; position: absolute; top: 0; right: 0; height: 400vh; background: magenta; z-index: 200;}

.spacer{height: 100vh; width: 100%; border: 6px solid orange;}
.visuals {height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; z-index: -1; }

.scene-container {height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; z-index: -1; }
.mountain-layer { width: 100vw; height: 50vh; background-image: url('../assets/mtns.svg'); background-size: cover; background-position: 0 center; min-height: 375px; max-height: 550px;}
.van-container-wrapper {height: 100vh; width: 100%; border: 2px solid black; position: fixed; top: 0; left: 0;}
.van-container {width: 100vh; margin-top: 15vh;  padding: 0px 5%; height: 100%; max-height: 70vh;  background-size: contain; background-image: url('../assets/van_1.svg'); background-position: center center; position: fixed; z-index: 5;}
.van-section-1 {width: 28%; border: 2px solid purple; height: 100%;}
.van-section-2 {width: 32%; border: 2px solid red; height: 100%;}
.van-section-3 {width: 35%; border: 2px solid yellow; height: 100%;}
.aspens {width: 50vw; margin-top: -50vh; height: 100vh; }
.mock-menu {height: 100%; padding: 0px 15px; background: rgba(255,255,255,0.4); width: 100%; border: 2px solid teal;}

.aspen-1-layer {width: 30vw; height: 70%;  background-image: url('../assets/aspen-1.svg'); background-size: contain; }
.aspen-2-layer {width: 30vw; height: 90vh; position: fixed; border: 3px solid blue; top: 0; right: -12vw;  background-image: url('../assets/aspen-2.svg'); background-size: cover; background-position: 0 0; z-index: 10;    }

.grass-layer {background: #528341; height: 62vh;  width: 120vw; margin: -3vw 0 0 -20vw;  background-image: url('../assets/foreground-2.svg'); background-size: cover; background-position: center top; background-repeat: no-repeat; background-origin: right bottom} 
.hill-layer { background-image: url('../assets/hills.svg'); height: 50vh; padding-top: 2.5vh; min-height: 500px; height: 100%; width: 100vw; background-size: contain; background-position-y: bottom 2.5vh; }
.hill-layer div {transform: translateY(5vh);}

.pine-layer-1 {width: 12vw; height: 95%; background-image: url('../assets/pine.svg'); background-size: 100%; background-position: -5vw 100%;}
.pine-layer-2 {z-index: 2; margin-left: -7vw; width: 20vw; height: 100%; background-image: url('../assets/lodgepole.svg'); background-size: contain; background-position: -2vw 100%;}
.pine-layer-3 {width: 15vw; margin-left: -15vw; height: 100%; }

.pine-layer {width: 15vw; height: 50vh; background-image: url('../assets/pine.svg'); background-size: 100% 80%; background-position: -2vw bottom;} 

@media screen and (min-width: 800px) {
  .mountain-layer
}

.slideshow-hero {width: 85vw; margin: 0 7.5vw 0px; transform: translateY(100px); padding: 25px; border-radius: 25px; background-color: var(--cream); }
@media screen and (max-width: 850px) {
  .info-columns {flex-direction: column;}
}

// Footer

.info-column {width: 100%; border: 10px solid var(--cream); padding: 25px 15px; margin: 2vw; background: rgba(255,255,255,0.25); border-radius: 10px; }
.info-column:hover {border: 10px solid white;}
// Seasons 

.sky {background-color: #5ca0f2; background-image: linear-gradient(180deg, #5ca0f2 0%, #f5f7f6 74%);}
.sky-narrow {background-color: #5ca0f2; background-image: linear-gradient(180deg, #5ca0f2 0%, #f5f7f6 350px);}
.sky-reverse {background-color: #5ca0f2; background-image: linear-gradient(180deg, #f5f7f6 0%, #5ca0f2 74%);}

// Animations
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-16 1:1:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}